@{
    ViewData["Title"] = "Home Page";
}
<Doctype html>
    <html>
    <head>
        <title>Video Games</title>
    </head>

    <body>
    <h4>Welcome to Video Game Store</h4>
    
    
    
    </body>






<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
</html>